{% extends "layout.html" %}
{% from 'query-macro.html' import query_based,abstract_based %}

{% block content %}
    <div class="container">
        <!-- Block with the query -->
        {% block query %}
            {%if searchby == 'byabstract' %}
                {{ abstract_based() }}
            {% elif searchby == 'byquery' %}
                {{ query_based() }}
            {% endif %}
        {% endblock %}
        
        <!-- Block with the message (success/nothing founds) -->    
        <div class="row">
            <div class="container">
                <div class="alert alert-info" id="message">
                    <div id="info">
                        <strong> Info: </strong> Fill the form above to initialize the recomendation engine. <br> When ready, click the search button.
                    </div>
                    <div class="text-center" id="spin">
                        <i class="fa fa-spinner fa-spin fa-2x fa-fw text-center"></i>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Block with the app itself collab/schedule -->    
        {%block app%}
        {%endblock%}

        {%block increasenb%}
        {% endblock %}

        <!-- js associated with the query block -->
        <script text="type/javascript">
         dropdownMenuNav();
         initMessage("{{searchby}}")
         ajaxwait()
        </script>
        {%if searchby=='byabstract' %}
            <script text="type/javascript">
             $(document).ready(function() {
                 autocompleteAuthor();
             });
            </script>
        {% elif searchby=='byquery' %}
            <script text="type/javascript">
             $(document).ready(function() {
                 showQuery();
             });
            </script>            
        {% endif %}

        <!-- js associated with the app itself -->
        {%block appjs %}
        {%endblock%}
    </div>
{% endblock %}







