{% macro display_buttons() %}
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        {% for day in ["Monday","Tuesday","Wednesday","Thursday","Friday"] %}
            <div class="btn-group" role="group" id="button-week">
                <button type="button" id="button-{{day}}" class="btn btn-lg btn-primary text-capitalize day">{{day}}</button>
            </div>
        {% endfor %}
    </div>
{% endmacro %}


{% macro display_schedule_session(session) %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" href="#{{session}}">
                    {{ caller() }}  <span class="badge pull-right" id="span-{{session}}">1</span>
                </a>
            </h3>              
        </div>
        <div id="{{session}}" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="panel-group" id="{{session}}-sessions">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#{{session}}-sessions" href="#{{session}}-am">
                                    Morning session - 08:00 - 12:20 <span class="badge pull-right" id="span-{{session}}-am">1</span>
                                </a>
                            </h4>
                        </div>
                        <div id="{{session}}-am" class="panel-collapse collapse in">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-success">
                                    <h3 class="list-group-item-heading"> First item</h3>
                                    <p class="list-group-item-text"> hello </p>
                                </li>
                                <li class="list-group-item list-group-item-info">Second item</li>
                                <li class="list-group-item list-group-item-warning">Third item</li>
                                <li class="list-group-item list-group-item-danger">Fourth item</li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#{{session}}-sessions" href="#{{session}}-pm"> 
                                    Afternoon session - 13:40 - 18:00 <span class="badge pull-right" id="span-{{session}}-pm">1</span>
                                </a>
                            </h4>
                        </div>
                        <div id="{{session}}-pm" class="panel-collapse collapse">
                            <div class="panel-body">Panel 3.2</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endmacro %}

{% macro displaysession(session) %}
    {% call display_schedule_session(session) %}
        {% if session=="orals" %}
            Oral presentations
        {% elif session=="posters" %}
            Poster presentations
        {% endif %}
    {% endcall %}
{% endmacro %}
            
   

