{% extends "layout.html" %}
{% block content %}

<!-- Get the query and greatings  -->
<div class="row">
    <div class="container">
        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading  col-sm-12">
                <form role="form"> 
                    <div class="form-group">
                        <label class="control-label">
                            {% block search_by %}
                            {% endblock %}
                        </label>
                        <div class="col-sm-10">
                            <input class="form-control input-lg"
                                   type="text"
                                   placeholder="{{search}}"
                                   id="search"
                                   name="search"></input>
                        </div>
                        <div class="dropdown col-sm-2">
                            <button class="btn btn-lg btn-info dropdown-toggle"
                                    type="button"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="true">
                                <strong>More ?</strong>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="dropdown-nb-abstracts" aria-labelledby="dropdownMenu1">
                                <li><a href="#" data-value="25" default>Nb = 25</a></li>
                                <li><a href="#" data-value="50">Nb = 50</a></li>
                                <li><a href="#" data-value="100">Nb = 100</a></li>
                            </ul>
                        </div>
                        <div>
                            <br>
                            <br>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-body">
                <p class ="lead" data-toggle="collapse" data-target="#qry-detail"> Click here to reveal what your recommendation is based on</p>
                <div id="qry-detail" class="collapse lead">
                    <p class="lead">{{query}} </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Show the journey -->
<div class="row">
    <div class="container" id="whichday">
x        <div class="col-sm-offset-5 col-sm-2 text-center">
            <div class="btn-group" data-toggle="buttons">
                <button class="btn btn-lg btn-primary col-sm-2 col-sm-offset-1">Monday</button>        
                <button class="btn btn-lg btn-primary col-sm-2">Tuesday</button>
                <button class="btn btn-lg btn-primary col-sm-2">Wednesday</button>
                <button class="btn btn-lg btn-primary col-sm-2">Thursday</button>
                <button class="btn btn-lg btn-primary col-sm-2">Friday</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <a data-toggle="collapse" href="#Orals">Oral presentation</a>
                    </h2>
                </div>
                <div id="Orals" class="panel-collapse collapse">
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        <a data-toggle="collapse" href="#Posters">Poster presentation</a>
                    </h1>
                </div>
                <div id="Posters" class="panel-collapse collapse">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
