{% extends "baseapp.html" %}
{% from 'nav-macro.html' import generatenav as gnav %}
{% from 'increasenb-macro.html' import increasenb as inb %}

<!-- header -->
{% block header %}
    <!-- D3 -->
    <script src="{{url_for('static',filename='bower_components/topojson/topojson.js')}}"></script>
    <script src="{{url_for('static',filename='bower_components/d3/d3.min.js')}}"></script>
    <!-- Datamaps -->
    <script src="{{url_for('static',filename='bower_components/datamaps/dist/datamaps.world.min.js')}}"></script>
{% endblock %}}

<!-- nav bar -->
{% block nav %}
    {{gnav("","active","","")}}
{% endblock %}


<!-- JS to load at the starting of the page -->
{% block early_js %}
<script src="{{url_for('static',filename='js/collaborator.js')}}"></script>
{% endblock %}


{% block app %}
    <!-- Display the map  -->
    <div class="row">
        <div class="container">
            <div id="map-container-collab" style="position: relative; height: 100%; width: 100%;">
            </div>
        </div>
    </div>
    <br>

    <!-- Display the thumbnail  -->
    <div class="row">
        <div class="container" id="thumbnail-container">
            <div class="alert alert-info" id="thumbnail-header">
                <div id="thumbnail-info">
                </div>
                <div class="text-center" id="thumbnail-spin">
                    <i class="fa fa-spinner fa-spin fa-2x fa-fw text-center"></i>
                </div>
            </div>
            <div id="thumbnail-body">
            </div>
        </div>
    </div>
    <br>
{% endblock %}

{% block increasenb %}
    {{ inb('collaborators') }}
{% endblock increasenb %}

{% block appjs %}
    <script text="type/javascript">
     $(document).ready(function() {
         $('#thumbnail-container').hide()
         displayMap({{data|safe}},{{fills|safe}})
         onSelectNb()
         onSearch("collab")
     });
    </script>
{% endblock %}



