{% extends "layout.html" %}
{% block content %}

<!-- Get the query and greatings  -->
<div class="row">
    <div class="col-md-12">
        <div class="col-md-10">
            <form>
                <input class="form-control form-control-lg"
                       type="text"
                       placeholder="{{query}}"
                       id="name-query"
                       name="query"></input>
            </form>
        </div>
        <div class="col-md-2">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Number abstracts
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" id="dropdown-nb-abstracts" aria-labelledby="dropdownMenu1">
                    <li><a href="#" data-value="25" default>Nb = 25</a></li>
                    <li><a href="#" data-value="50">Nb = 50</a></li>
                    <li><a href="#" data-value="100">Nb = 100</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12" id="nbcollab">
        <h2> Congratulations:</h2>
        <div id="nb-collab">
            <p class="lead"> Our recommendation system detect at least <mark>{{nb_collab}} potential collaborators</mark> accross the world.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p class="lead"> Click on a specific country to get more details. </p>
        <div id="map-container-collab" style="position: relative; height: 100%; width: 100%;">
            <script type=text/javascript>
             displayMapCollab({{data|safe}},{{colors|safe}})
            </script>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="container" id="thumbmail-collab">
    </div>
</div>

{% endblock %}

