{% extends "layout.html" %}
{% from 'nav-macro.html' import generatenav as gnav %}

{% block nav %}
    {{gnav("active","","")}}
{% endblock %}

{% block content %}
<!-- jumbotron -->
<div class="jumbotron">
    <div class="container">
        <h1> Welcome to you geoscientist</h1>
        <p class="lead"> If you ever felt loss into the nearly 25000 people of AGU, this
        app is for you. </p> 
        <a class="btn btn-primary btn-lg btn-block" href="#"> Try it yourself</a>
    </div>
</div>

{% endblock %}
