{% extends "layout.html" %}
{% block content %}

<!-- jumbotron -->
<div class="jumbotron">
    <div class="container">
        <h1> Welcome to the geocollab app</h1>
        <div class="container">
            <div id="map-container" style=" width: 600; height: 600px;">
                <p> AGU on a map </p>
            </div>
        </div>
        
        <p class="lead"> hello</p> 
        <a class="btn btn-primary btn-lg btn-block" href="{{ url_for('about') }}"> Learn more</a>
    </div>
</div>
{% endblock %}


