<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Title of the app--> 
        <title>Geocollab</title>
        
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{url_for('static',filename='css/mycss.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='bower_components/bootstrap/dist/css/bootstrap-theme.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='bower_components/bootstrap/dist/css/bootstrap.min.css')}}">
        <script src="{{url_for('static',filename='bower_components/jquery/dist/jquery.min.js')}}"></script>
        <script src="{{url_for('static',filename='bower_components/bootstrap/dist/js/bootstrap.min.js')}}">></script>
        <!-- D3 -->
        <script src="{{url_for('static',filename='bower_components/topojson/topojson.js')}}"></script>
        <script src="{{url_for('static',filename='bower_components/d3/d3.min.js')}}"></script>
        <!-- Datamaps -->
        <script src="{{url_for('static',filename='bower_components/datamaps/dist/datamaps.world.min.js')}}"></script>
        <script src="{{url_for('static',filename='bower_components/string-format/string-format.js')}}"></script>
    </head>

    <body>

        <!-- js files  -->
        <script type="text/javascript">
         var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>  
        <script src="{{url_for('static',filename='js/helper-DOM.js')}}"></script>
        <script src="{{url_for('static',filename='js/baseapp.js')}}"></script>
        <script src="{{url_for('static',filename='js/basejourney.js')}}"></script>
        <!-- nav bar: http://www.bootply.com/ceoQOzQykG# -->
        <div class="navbar-wrapper">
            <div class="container">        
                <nav class="navbar navbar-inverse navbar-static-top marginBottom-0" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#" target="_blank">Geocolab</a>
                    </div>                    
                    <div class="collapse navbar-collapse" id="navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{{url_for('home')}}">Home</a></li>
                            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Find collaborators <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{url_for('query_based')}}">Query based suggestion</a></li>
                                    <li class="divider"></li>
                                    <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Abstract based suggestion</a>
		                        <ul class="dropdown-menu">
		                            <li><a href="{{url_for('abstract_based_sbtitle')}}">Title</a></li>
		                            <li><a href="{{url_for('abstract_based_sbauthor')}}">Authors</a></li>
		                            <li><a href="{{url_for('abstract_based_sblink')}}">Link</a></li>
		                        </ul>
		                    </li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Plan your journey <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{url_for('query_based_journey')}}">Query based suggestion</a></li>
                                    <li class="divider"></li>
                                    <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Abstract based suggestion</a>
		                        <ul class="dropdown-menu">
		                            <li><a href="{{url_for('abstract_based_sbtitle_journey')}}">Title</a></li>
		                            <li><a href="{{url_for('abstract_based_sbauthor_journey')}}">Authors</a></li>
		                            <li><a href="{{url_for('abstract_based_sblink_journey')}}">Link</a></li>
		                        </ul>
		                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
            </div>
        </div>

        <!-- content -->    
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>

        <!-- js late -->
        <script text="type/javascript">
         $(document).ready(function() {
             refreshTogleNbAbstract()
             dropdownMenuNav()
             refreshSchedule()
         });
        </script>
    </body>
</html>
