<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Title of the app--> 
        <title>Geocollab</title>
        
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{url_for('static',filename='bower_components/bootstrap/dist/css/bootstrap-theme.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='bower_components/bootstrap/dist/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='bower_components/bootstrap-select/dist/css/bootstrap-select.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/mycss.css')}}">
        <script src="{{url_for('static',filename='bower_components/jquery/dist/jquery.min.js')}}"></script>
        <script src="{{url_for('static',filename='bower_components/bootstrap/dist/js/bootstrap.min.js')}}">></script>
        <script src="{{url_for('static',filename='bower_components/string-format/string-format.js')}}"></script>
        <script src="{{url_for('static',filename='bower_components/bootstrap-select/dist/js/bootstrap-select.js')}}"></script>
        {% block header %}
        {% endblock %}
    </head>

    <body>
        <!-- JS to load at the starting of the page -->
        <script src="{{url_for('static',filename='js/helper-DOM.js')}}"></script>
        <script type="text/javascript">
         var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        {% block early_js %}
        {% endblock %}

        <div class="wrapper">
            <!-- nav bar: http://www.bootply.com/ceoQOzQykG# -->
            <div class="navbar-wrapper">
                {% block nav %}
                {% endblock %}
            </div>
            
            <!-- content -->    
            {% block content %}
            {% endblock %}

            <div class="push"><!--//--></div>            
        </div>

        <!-- footer -->
        <div class="container">
            <footer>
                <div class="container">
                    <a href="mailto:clement.thorey@gmail.com"><i class="svg-icon email"></i></a>
                    <a href="https://github.com/cthorey" target="_blank"><i class="svg-icon github"></i></a>
                    <a href="https://www.twitter.com/cthorey"><i class="svg-icon twitter"></i></a>
                </div>
            </footer>
        </div>

        <!-- js late -->
        {% block late_js %}
        {% endblock %}
        
    </body>
</html>

