{% macro query_based(search,query) %}
    <!-- Get the query and greatings  -->
    <div class="row">
        <div class="container">
            <div class="panel-group" id="accordion">
                <div class="panel panel-primary">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <label class="control-label">
                            {{ caller() }}
                        </label>
                        <form role="form">
                            <div class="form-group">
                                <input class="form-control"
                                       type="text"
                                       placeholder="{{search}}"
                                       id="search"
                                       name="search"></input>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-default"> submit </button>
                            </div>
                        </form>
                        <button class ="btn btn-warning col-xs-8" data-toggle="collapse" data-target="#toggle_query">Get more info on your query</button>
                        <select class="selectpicker show-menu-arrow col-xs-4" data-style="btn-info" id="select-nb">
                            <option title="Small"> Use only 25 first recommendations </option>
                            <option title="Medium"> Use 50 first recommendations </option>
                            <option title="Large"> Use 100 first recommendations </option>
                        </select>
                    </div>
                </div>
                <div id="toggle_query" class="panel-collapse collapse">
                    <div class="panel-body fixed-panel">
                        <small class="lead">{{ query }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro searchby(sby,search,query) %}
    {% call query_based(search,query) %}
        {% if sby == 'byquery' %}
            <h3> Query-based recommendation system </h3>
            <p> Type your query here.</p>
        {% elif sby == 'bytitle' %}
            <h3> Title-based recommendation system </h3>
            <p> Type the title of a contribution you wish use for the recommendation system.</p>
        {% elif sby == 'bylink' %}
            <h3> Link-based recommendation system </h3>
            <p> Type the link of an abstract your wish to use to base your collaboration recommendation.</p>
        {% elif sby == 'byauthor' %}
            <h3> Author-based recommendation system </h3>
            <p> Type the name of a contributors you wish to base his abstract one.</p>
        {% endif %}
    {% endcall %}
{% endmacro %}


