{% macro abstract_based() %}
    <div class="row">
        <div class="container">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
	                <h2>Abstract-based recommendation</h2>
                        <form role="form">
                            <div class="form-group">
		                <input type="text" name="name" id="autocomplete-author"
                                       class="form-control" placeholder="Enter author name"></input>
                                <select class="selectpicker form-control"
                                        name="search"
                                        id="select-abstract"
                                        title="Which abstract?"
                                        data-style="btn-primary" disabled>
                                </select>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-md-10 text-center">
                                    <button class ="btn btn-warning btn-block"
                                            data-toggle="collapse"
                                            type="button"
                                            data-target="#toggle_query"
                                            id="button-abstract"
                                            disabled>
                                        See abstract 
                                    </button>
                                </div>
                                
                                <div class="col-xs-6 col-md-2 text-center">
                                    <button type="button" class ="btn btn-default btn-block" id="search-click">
                                        Search
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="toggle_query" class="panel-collapse collapse">
                    <form>
                        <div class="panel-body fixed-panel" id="fill-abstract" name="abstract">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>    
{% endmacro %}


{% macro query_based(search,query,sby) %}
    <!-- Get the query and greatings  -->
    <div class="row">
        <div class="container">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <label class="control-label">
                            <h3> <strong> Query-based</strong> recommendation system.</h3>
                            <p> We use your raw query to identify a set of simular contributions to AGU.<br>
                                <small>We can put weights on specific keyword to emphasize their importance.<br>
                                    Use word:weight. Default is word:1. For multiword word, use "word1 word2 ...":weight. </small></p>
                        </label>
                        <form role="form">
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control"
                                           type="text"
                                           placeholder="{{search}}"
                                           id="search2"
                                           name="search2">
                                    <span class="input-group-btn">
                                        <button class="btn btn-defaut" type="submit">Go!</button>
                                    </span>
                                </div>
                            </div>
                        </form>
                        <button class ="btn btn-warning" data-toggle="collapse" data-target="#toggle_query">
                            {% if sby =='byquery' %}
                                Used query ?
                            {% else %}
                                Used abstract ?
                            {% endif %}
                        </button>
                    </div>
                </div>
                <div id="toggle_query" class="panel-collapse collapse">
                    <div class="panel-body fixed-panel">
                        {% if sby =='byquery' %}
                            <p> <strong>The query used for the recomendation is: </strong>
                        {% else %}
                                <p> <strong>The abstract used for the recomendation is:</strong> <br>
                        {% endif %}
                        <q>{{ query }}</q> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
