{% macro abstract_based() %}
    <div class="row">
        <div class="container">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <label class="control-label">
                            <h3> <strong> Abstract-based</strong> recommendation engine.</h3>
                            <p> We use the content of an abstract to initialize or recommendation engine.<br>
                                <small> Type one of its author and select the corresponding abstract to get it running.</small></p>
                        </label>
                        <form role="form">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">
                                        <i class="fa fa-search" id="search-user"></i>
                                    </span>
                                    <input type="text" name="name"
                                           id="autocomplete-author"
                                           class="form-control"
                                           aria-describedby="basic-addon1"
                                           placeholder="Author example: Thorey Clement">
                                </div>
                            </div>
                            <div class="form-group mycollapse"'>
                                <select class="selectpicker form-control"
                                        name="search"
                                        id="search"
                                        title="Which abstract?"
                                        data-size="3"
                                        data-style="btn-primary" disabled>
                                </select>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-md-10 text-center">
                                    <button class ="btn btn-warning btn-block"
                                            data-toggle="collapse"
                                            type="button"
                                            data-target="#toggle_query"
                                            id="button-abstract"
                                            disabled>
                                        See abstract 
                                    </button>
                                </div>
                                <div class="col-xs-6 col-md-2 text-center">
                                    <button type="button" class ="btn btn-default btn-block" id="search-click">
                                        Search
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="toggle_query" class="panel-collapse collapse">
                    <form>
                        <div class="panel-body fixed-panel" id="fill-abstract" name="abstract">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>    
{% endmacro %}

{% macro query_based() %}
    <!-- Get the query and greatings  -->
    <div class="row">
        <div class="container">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <label class="control-label">
                            <h3> <strong> Query-based</strong> recommendation engine.</h3>
                            <p> We use your raw query to initialize our recommendation engine.<br>
                                <small>You can put weights on specific keyword to emphasize their importance.<br>
                                    Use word:weight. Default is word:1. For multiword word, use "word1 word2 ...":weight. </small></p>
                        </label>
                        <form role="form">
                            <div class="form-group">
                                <input class="form-control"
                                       type="text"
                                       placeholder='Query example: magma "magmatic intrusions":5 dynamics:2 granit folding'
                                       id="search"
                                       name="search"></input>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-md-10 text-center">
                                    <button class ="btn btn-warning btn-block"
                                            data-toggle="collapse"
                                            type="button"
                                            data-target="#toggle_query"
                                            id="button-abstract">
                                        See query
                                    </button>
                                </div>
                                
                                <div class="col-xs-6 col-md-2 text-center">
                                    <button type="button" class ="btn btn-default btn-block" id="search-click">
                                            Search
                                    </button>
                                </div>
                            </div>
                        </form>  
                    </div>
                </div>
                <div id="toggle_query" class="panel-collapse collapse">
                    <form>
                        <div class="panel-body fixed-panel" id="fill-abstract" name="abstract">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
