{% macro display_buttons() %}
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group" id="button-week">
            <button type="button" id="button-Monday" class="btn btn-primary text-capitalize day active">Monday</button>
        </div>
        {% for day in ["Tuesday","Wednesday","Thursday","Friday"] %}
            <div class="btn-group" role="group" id="button-week">
                <button type="button" id="button-{{day}}" class="btn btn-primary text-capitalize day">{{day}}</button>
            </div>
        {% endfor %}
    </div>
{% endmacro %}


{% macro display_schedule_session(session) %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#{{session}}">
                    {{ caller() }}  <span class="badge pull-right" id="span-{{session}}">0</span>
                </a>
            </h4>              
        </div>
        <div id="{{session}}" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="panel-group" id="{{session}}-sessions">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" data-parent="#{{session}}-sessions" href="#{{session}}-am">
                                    Morning session - 08:00 - 12:20 <span class="badge pull-right" id="span-{{session}}-am">0</span>
                                </a>
                            </h5>
                        </div>
                        <div id="{{session}}-am" class="panel-collapse collapse in">
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" data-parent="#{{session}}-sessions" href="#{{session}}-pm"> 
                                    Afternoon session - 13:40 - 18:00 <span class="badge pull-right" id="span-{{session}}-pm">0</span>
                                </a>
                            </h5>
                        </div>
                        <div id="{{session}}-pm" class="panel-collapse collapse">
                        </div>
                    </div>
                    {% if session == 'posters' %}
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    All the poster are hold in the Moscone South - Poster Hall
                                    <span class="glyphicon glyphicon-pushpin pull-left">  </span>
                                </h5>
                            </div>
                        </div>     
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro displaysession(session) %}
    {% call display_schedule_session(session) %}
        {% if session=="orals" %}
            Oral presentations
        {% elif session=="posters" %}
            Poster presentations
        {% endif %}
    {% endcall %}
{% endmacro %}



