{% extends "baseapp.html" %}
{% from 'schedule-macro.html' import displaysession as dsession %}
{% from 'schedule-macro.html' import display_buttons as dbuttons %}
{% from 'nav-macro.html' import generatenav as gnav %}
{% from 'increasenb-macro.html' import increasenb as inb %}

<!-- nav bar -->
{% block nav %}
    {{gnav("","","active","")}}
{% endblock %}

<!-- JS to load at the starting of the page -->
{% block early_js %}
    <script src="{{url_for('static',filename='js/schedule.js')}}"></script>
{% endblock %}
    
<!-- Block with the app itself schedule -->

{%block app%}
    <div class="row">
        <div class="container" id="whichday">
            {{ dbuttons() }}  
        </div>
    </div>
    <div class="row">
        <div class="container">
            <h4 class ="lead"> </h4>
            <div class="panel-group">
                {{  dsession("orals") }}
                {{  dsession("posters") }}
            </div>
        </div>
    </div>
{% endblock %}

{% block increasenb %}
    {{ inb('schedule') }}
{% endblock increasenb %}

<!-- late ls  -->
{% block appjs %}
    <script text="type/javascript">
     $(document).ready(function() {
         initMonday();
         onClickDay();
         onSelectNb();
         onSearch("schedule");
     });
    </script>
{% endblock %}

