{% extends "baseapp.html" %}
{% from 'query-macro.html' import searchby as searchb %}
{% from 'schedule-macro.html' import displaysession as dsession %}
{% from 'schedule-macro.html' import display_buttons as dbuttons %}
{% from 'nav-macro.html' import generatenav as gnav %}

<!-- nav bar -->
{% block nav %}
    {{gnav("","","active")}}
{% endblock %}

<!-- JS to load at the starting of the page -->
{% block early_js %}
<script src="{{url_for('static',filename='js/schedule.js')}}"></script>
<script src="{{url_for('static',filename='js/refreshnb.js')}}"></script>
{% endblock %}

<!-- Block with the query -->
{% block query %}
    {{ searchb(searchby,search,query) }}
{% endblock %}

<!-- Block with the message (success/nothing founds) -->
{% block message %}
    <div class="row">
        <div class="container" id="messageSchedule">
        </div>
    </div>
{% endblock %}
    
<!-- Block with the app itself schedule -->

{%block app%}
    <div class="row">
        <div class="container" id="whichday">
            {{ dbuttons() }}  
        </div>
    </div>
    <div class="row">
        <div class="container">
            <h4 class ="lead"> </h4>
            <div class="panel-group">
                {{  dsession("orals") }}
                {{  dsession("posters") }}
            </div>
        </div>
    </div>
{% endblock %}

<!-- late ls  -->
{% block late_js %}
    <script text="type/javascript">
     $(document).ready(function() {
         dropdownMenuNav()
         initMessageSchedule()
         onClickDay()
         onSelectNb()
     });
    </script>
{% endblock %}

