<div class="dropdown pull-right">
    <button class="btn btn-info dropdown-toggle"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="true">
        <strong>More ?</strong>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" id="dropdown-nb-abstracts" aria-labelledby="dropdownMenu1">
        <li><a href="#" data-value="25" default>Nb = 25</a></li>
        <li><a href="#" data-value="50">Nb = 50</a></li>
        <li><a href="#" data-value="100">Nb = 100</a></li>
    </ul>
</div>


$.each(result,function(sess,obj) {refreshSpan(sess,obj)})
$.each(result,function(sess,obj) {displaySessions(sess,obj)})

selector.empty()
selector.append('<ul class="list-group">')
    var orals_arr = $.map(orals,function(obj,idx){return obj}) //Create the array
    var arr = orals_arr.sort(function(a, b) {
    return parseTime(a.time.split('-')[0]) - parseTime(b.time.split('-')[0]);});
    // Next fill in
    arr.forEach(function(oral) {
    selector.append(displayOral(oral));
    });
    selector.append('</ul">')

// displayOrals('am',result.orals.am)
// displayOrals('pm',result.orals.pm)
// displayPosters('am',result.posters.am)
// displayPosters('pm',result.posters.pm)


<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion1" href="#collapseThree">
                Collapsible Group Item #3
            </a>
        </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
            
            <div class="panel-group" id="accordion2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2" href="#collapseThreeOne">
                                Collapsible Group Item #3.1
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThreeOne" class="panel-collapse collapse in">
                        <div class="panel-body">Panel 3.1</div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2" href="#collapseThreeTwo">            
                                Collapsible Group Item #3.2
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThreeTwo" class="panel-collapse collapse">
                        <div class="panel-body">Panel 3.2</div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

</div>



{% extends "search.html" %}
{% block search_content %}
<!-- 
     <div class="row-fluid">
     <div class="container">
     <p> Output of your search </p>
     <ol id="recomlists">
     {% for name, description in collabs.iterrows(): %}
     <li> {{ name.upper()}} from the {{ description['inst'] }},  {{ description['country'] }}<br>
     Based on his/her abstract untitled <br>
     {{description['title']}} (<a href="{{description['link']}}"> abstract </a>)
     </li>
     {% endfor %}
     </ol>
     </div>
     </div> -->

<div class="container">
    <p> The search type is {{ search_type }}</p>
    <p> Output of your search </p>
    <ol class="recomlists">
        {% for i,row in rquery.iterrows(): %}
        <li>
            <ul class="specificrecom">
                <li>{{ row['title']}} </li>
                <li>Cosine similarity: {{ row['CosineSimilarity']}} </li>
                <li> <a href={{row['link']}}> abstract </a></li>
            </ul>
        </li>
        {% endfor %}
    </ol>
</div>

{% endblock %}
{% block search_content %}


<nav class="navbar navbar-inverse navbar-static-top marginBottom-0" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#" target="_blank">NewWindow</a>
  </div>
  
  <div class="collapse navbar-collapse" id="navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Active Link</a></li>
      <li><a href="#">Link</a></li>
      <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Dropdown Link 1</a></li>
          <li><a href="#">Dropdown Link 2</a></li>
          <li><a href="#">Dropdown Link 3</a></li>
          <li class="divider"></li>
          <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown Link 4</a>
	    <ul class="dropdown-menu">
	      <li><a href="#">Dropdown Submenu Link 4.1</a></li>
	      <li><a href="#">Dropdown Submenu Link 4.2</a></li>
	      <li><a href="#">Dropdown Submenu Link 4.3</a></li>
	      <li><a href="#">Dropdown Submenu Link 4.4</a></li>
	    </ul>
	  </li>
          <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown Link 5</a>
	    <ul class="dropdown-menu">
	      <li><a href="#">Dropdown Submenu Link 5.1</a></li>
	      <li><a href="#">Dropdown Submenu Link 5.2</a></li>
	      <li><a href="#">Dropdown Submenu Link 5.3</a></li>
	      <li class="divider"></li>
	      <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown Submenu Link 5.4</a>
		<ul class="dropdown-menu">
		  <li><a href="#">Dropdown Submenu Link 5.4.1</a></li>
		  <li><a href="#">Dropdown Submenu Link 5.4.2</a></li>
		  <li class="divider"></li>
		  <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown Submenu Link 5.4.3</a>
		    <ul class="dropdown-menu">
		      <li><a href="#">Dropdown Submenu Link 5.4.3.1</a></li>
		      <li><a href="#">Dropdown Submenu Link 5.4.3.2</a></li>
		      <li><a href="#">Dropdown Submenu Link 5.4.3.3</a></li>
		      <li><a href="#">Dropdown Submenu Link 5.4.3.4</a></li>
		    </ul>
		  </li>
		  <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown Submenu Link 5.4.4</a>
		    <ul class="dropdown-menu">
		      <li><a href="#">Dropdown Submenu Link 5.4.4.1</a></li>
		      <li><a href="#">Dropdown Submenu Link 5.4.4.2</a></li>
		      <li><a href="#">Dropdown Submenu Link 5.4.4.3</a></li>
		      <li><a href="#">Dropdown Submenu Link 5.4.4.4</a></li>
		    </ul>
		  </li>
		</ul>
	      </li>
	    </ul>
	  </li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<div class="jumbotron">
  <h1 class="page-header">Bootstrap 3.0.3<br>
    <small>Navbar - Click Dropdown - Sub - Sub - Sub - Sub ...</small></h1>
</div>

<div class="container">
  
  <div class="row">
    <h1>You Like It ?</h1>
    <br>
  </div>

</div>
