{% extends "layout.html" %}
{% block content %}


<div class="container">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Dropdown
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <form>
        Give me your query:<br>
        <input class="form-control form-control-lg"
               type="text"
               placeholder="Dynamics of lunar magmatic intrusions"
               name="query"></input>
    </form>
</div>

<div class="container">
    <p> The search type is {{ search_type }}</p>
    <p> Output of your search </p>
    <ol class="recomlists">
        {% for i,row in rquery.iterrows(): %}
        <li>
            <ul class="specificrecom">
                <li>{{ row['title']}} </li>
                <li>Cosine similarity: {{ row['score']}} </li>
                <li> <a href={{row['link']}}> abstract </a></li>
            </ul>
        </li>
        {% endfor %}
    </ol>
</div>
   
{% endblock %}

